In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"/content/app_user_behavior_dataset.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   user_id                        50000 non-null  int64
 1   age                            50000 non-null  int64
 2   gender                         50000 non-null  object
 3   country                        50000 non-null  object
 4   device_type                    50000 non-null  object
 5   app_version                    50000 non-null  float64
 6   sessions_per_week              50000 non-null  int64
 7   avg_session_duration_min       50000 non-null  float64
 8   daily_active_minutes           50000 non-null  float64
 9   feature_clicks_per_session     50000 non-null  int64
 10  notifications_opened_per_week  50000 non-null  int64
 11  in_app_search_count            50000 non-null  int64
 12  pages_viewed_per_session       50000 non-null  int64
 13  crash_events_last_30_days      50000 non-null  int64
 14  support_tickets_raised         50000 non-null  int64
 15  days_since_last_login          50000 non-null  int64
 16  subscription_type              50000 non-null  object
 17  ads_clicked_last_30_days       50000 non-null  int64
 18  content_downloads              50000 non-null  int64
 19  social_shares                  50000 non-null  int64
 20  rating_given                   44978 non-null  float64
 21  churn_risk_score               50000 non-null  float64
 22  engagement_score               50000 non-null  float64
 23  account_age_days               50000 non-null  int64
 24  marketing_source               50000 non-null  object
dtypes: float64(6), int64(14), object(5)
memory usage: 9.5+ MB

In [ ]:
df.isnull().sum()

user_id                             0
age                                 0
gender                              0
country                             0
device_type                         0
app_version                         0
sessions_per_week                   0
avg_session_duration_min            0
daily_active_minutes                0
feature_clicks_per_session          0
notifications_opened_per_week       0
in_app_search_count                 0
pages_viewed_per_session            0
crash_events_last_30_days           0
support_tickets_raised              0
days_since_last_login               0
subscription_type                   0
ads_clicked_last_30_days            0
content_downloads                   0
social_shares                       0
rating_given                     5022
churn_risk_score                    0
engagement_score                    0
account_age_days                    0
marketing_source                    0
dtype: int64

In [ ]:
df['rating_given'].fillna(df['rating_given'].mean(), inplace=True)

/tmp/ipython-input-1156394001.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_given'].fillna(df['rating_given'].mean(), inplace=True)

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt


# Drop identifier column
df_model = df.drop(columns=['user_id'])

# Select numerical features
num_cols = df_model.select_dtypes(include=['int64', 'float64']).columns
X = df_model[num_cols]

# -------------------------------
# Data Scaling
# -------------------------------
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
# -------------------------------
# 2. Hierarchical Clustering
# -------------------------------
# agglo = AgglomerativeClustering(n_clusters=4, linkage='ward')
# df['cluster_hierarchical'] = agglo.fit_predict(X_scaled)
# sil_agglo = silhouette_score(X_scaled, df['cluster_hierarchical'])
# print(f"Hierarchical Silhouette Score: {sil_agglo:.3f}")

In [ ]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
import numpy as np

# 1. Scale the data
X_scaled = StandardScaler().fit_transform(X)

# 2. Define DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=5)

# 3. Get cluster labels
labels = dbscan.fit_predict(X_scaled)

# 4. Remove noise points (-1)
mask = labels != -1
X_filtered = X_scaled[mask]
labels_filtered = labels[mask]

# 5. Check minimum cluster requirement
if len(set(labels_filtered)) > 1:
    score = silhouette_score(X_filtered, labels_filtered)
    print("Silhouette Score:", score)
else:
    print("Silhouette score cannot be calculated (less than 2 clusters)")

Silhouette score cannot be calculated (less than 2 clusters)